/node_modules/
/dist/
/lib/
**/*.svg
package.json
/dist
/build
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
**/.idea/*
.gitmodules
/public
*.py
/coverage
*.gif
refresh_submodule.sh
*.md
.npmrc
pnpm-lock.yaml
depcheck.sh
